<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_galaga_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_galaga_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Galaga">

        <!-- MENÚ -->
        <activity
            android:name=".MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- JUEGO -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

        <!-- CRÉDITOS -->
        <activity
            android:name=".CreditosActivity"
            android:exported="false"/>

        <!-- Resultados -->
        <activity android:name=".ResultadosActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>